<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<title>Conference Twitter Wall</title> 
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head> 
<body class="hflex-wrapper"> 
  <div class="vflex-wrapper50"> 
    <div id="schedule">
      <!-- style the schedule as you please -->
      <div id="remy" data-time="0940">
        <p>Next: 9:40am</p><h2>Remy Sharp <a href="http://twitter.com/rem">@rem</a></h2><h3>Welcome to #fullfrontalconf</h3>
      </div>
      <div id="jeremy" data-time="0950">
        <p>Next: 9:50am</p><h2>Jeremy Ashkenas <a href="http://twitter.com/jashkenas">@jashkenas</a></h2><h3>CoffeeScript Design Decisions</h3>
      </div>
      <div id="phil" data-time="1030">
        <p>Next: 10:30am</p><h2>Phil Hawksworth <a href="http://twitter.com/philhawksworth">@philhawksworth</a></h2><h3>Excessive Enhancement</h3>
      </div>
      <div id="break1" data-time="1110">
        <p>Next: 11:10am</p><h3>Break</h3><p>Back in 30 minutes</p>
      </div>
      <div id="marijn" data-time="1140">
        <p>Next: 11:40am</p><h2>Marijn Haverbeke <a href="http://twitter.com/marijnjh">@marijnjh</a></h2><h3>Respectable code-editing in the browser</h3>
      </div>
      <div id="rik" data-time="1220">
        <p>Next: 12:20pm</p><h2>Rik Arends <a href="http://twitter.com/rikarends">@rikarends</a></h2><h3>How we Architected Cloud9 IDE for scale on NodeJS</h3>
      </div>
      <div id="nicholas" data-time="1430">
        <p>Next: 2:30pm</p><h2>Nicholas Zakas <a href="http://twitter.com/slicknet">@slicknet</a></h2><h3>Scalable JavaScript Application Architecture</h3>
      </div>
      <div id="glenn" data-time="1510">
        <p>Next: 3:10pm</p><h2>Glenn Jones <a href="http://twitter.com/glennjones">@glennjones</a></h2><h3>Beyond the page</h3>
      </div>
      <div id="break2" data-time="1550">
        <p>Next: 3:50pm</p><h3>Break</h3><p>Back in 30 minutes</p>
      </div>
      <div id="brendan" data-time="1620">
        <p>Next: 4:20pm</p><h2>Brendan Dawes <a href="http://twitter.com/brendandawes">@brendandawes</a></h2><h3>Beyond The Planet Of The Geeks</h3>
      </div>
      <div id="marcin" data-time="1700">
        <p>Next: 5:00pm</p><h2>Marcin Wichary <a href="http://twitter.com/mwichary">@mwichary</a></h2><h3>You gotta do what you gotta do</h3>
      </div>
      <div id="party" data-time="1900">
        <h3>Party 7:00pm @ The Loft</h3><h2><a href="http://ffconf.com/party">http://ffconf.com/party</a></h2>
      </div>
    </div> 
    <div id="notices">
      <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->
      <div id="notice1">
        <img src="/images/sample/sponsors.png">
      </div>
      <div id="notice2">
        Panel 2
      </div>
      <div id="notice3" data-hold-time="3s" class="fullscreen">
        Panel 3
      </div>
    </div> 
  </div>
  <div id="twitterwall"> 
    <ul id="tweets"></ul> 
  </div> 

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong> 
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script> 
  <script src="app/js/jquery.min.js"></script> 
  <script src="app/js/app.js"></script>
</body> 
</html> 
 
 
 
 
 
 
 
